<?xml version="1.0"?>
<robot name="zumo32u4">
    <link name="base_link">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://cartographer_ros/urdf/zumo32u4.STL" scale="1 1 1"/>
            </geometry>
            <material name="Grey">
                <color rgba="0.30 0.30 0.10 1.0"/>
            </material>
        </visual>
    </link>
</robot>
